
$lht-background: rgb(245, 245, 245);
$lht-background-table: rgb(238, 238, 238);
$lht-lines: rgb(204, 204, 204);
$lht-dot-lines: rgb(153, 153, 153);
$lht-copy-text: rgb(119, 119, 119);
$lht-links: rgb(102, 102, 102);
$lht-labels: rgb(85, 85, 85);
$lht-standard: rgb(51, 51, 51);
$lht-selections: rgb(0, 0, 102);
$lht-infographic: rgb(48, 80, 204);
$lht-infographic-highlight: rgb(85, 136, 255);
$lht-secondary-selection: rgb(204, 219, 255);
$lht-error:rgb(170, 0, 0);
$lht-danger:rgb(221, 51, 0);
$lht-danger-light: rgb(255, 102, 0);
$lht-warning: rgb(255, 179, 0);
$lht-success: rgb(34, 102, 0);
$lht-success-light: rgb(51, 153, 51);
$lht-infographics-success: rgb(119, 204, 102);

$default_font_color: rgb(51, 51, 51);
